<h1>Create a new sub</h1>

<form action="<%=subs_url%>" method='post'>
    <label>Title:
        <input type="text" name='sub[title]'>
    </label>
    <label>Description:
        <input type="text" name='sub[description]'>
    </label>
    <button>submit</button>
</form>